 #radio .horizontal-radio {
        display: flex;
        justify-content: center;
        # flex-wrap: wrap; # I added this because I thought it's cleaner to wrap the #Choose a Feedback# to the top
        gap: 20px;
        flex-direction: row; // makes the choice label #Choose a Feedback# appear left
      }
#radio .list.chevron-center ul {
        display: flex;
        flex-direction: row; # makes the ul elements of the list align in a row
        gap: 2px; # decreased so that there is more space
      }
      
#radio .list.chevron-center li {
        display: inline-block;
        width: auto;
      }
#radio .horizontal-radio .item-inner {
        display: flex;
        flex-direction: row !important;
      }
#radio .horizontal-radio .item-title {
        margin-right: 2px;
      }
#radio .block-title {
        white-space: normal;
        overflow: visible;
        text-overflow: clip; # line-break text in choices
      }
#radio .list.chevron-center .item-title {
        white-space: normal;
        overflow: visible;
        text-overflow: clip; # line-break text in choices
      }
      